@font-face {
  font-family: "RIZ";
  src: url("./font/Comfortaa.ttf") format("truetype");
}

@font-face {
  font-family: "SourceHanSans";
  src: url("./font/SourceHanSans-VF.ttf") format("truetype");
}

:root {
  --EZ: #57e4c4;
  --HD: #feba61;
  --IN: #fe8661;
  --AT: #4b364c;
  --phi-color: #fff700;
  --fc-color: #00f0d1;
  --border-radius-size: 30px;
}

body {
  font-family:
    "RIZ", "SourceHanSans", sans-serif;
  margin: 0;
  background: url("../otherimg/phigros.png") center no-repeat;
  background-size: cover;
  background-position: center;
  transform-origin: top left;
  position: absolute;
}

body p {
  margin: 0;
  color: black;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  overflow: hidden;
  z-index: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

.background img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  overflow: hidden;
  transform: scale(1.2);
  filter: blur(20px) brightness(40%);
  z-index: -1;
}

.createdbox {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  writing-mode: horizontal-tb;
  justify-content: flex-start;
  z-index: 10;
  --stroke-width: 3px;
  --stroke-text-color: white;
}

.createdbox p {
  color: white;
  font-size: 70px;
  font-family: "RIZ";
  font-weight: 1000;
}

.riz-plugin {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  --stroke-color: #00baff;
  --font-size: 80px;
}

.ver {
  --stroke-color: var(--IN);
  --font-size: 40px;
  display: flex;
  z-index: 1;
  background-color: var(--IN);
  height: calc(var(--font-size) * 1.2);
  padding: 0 calc(var(--font-size) * 1.2 / 2);
  border-radius: calc(var(--font-size) * 1.2 / 2);
  align-items: center;
  margin-left: 10px;
}

.riz-plugin p {
  font-size: var(--font-size);
}

.ver p {
  font-size: var(--font-size);
  margin-bottom: -3px;
}

.tips {
  position: absolute;
  bottom: 0px;
  left: 5px;
  writing-mode: horizontal-tb;
}

.tips p {
  font-size: 14px;
}

.colorful p {
  /* width: 100%; */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(1, #2ff),
    color-stop(0.8, #2f2),
    color-stop(0.6, #2f2),
    color-stop(0.4, #ff2),
    color-stop(0.2, #f92),
    color-stop(0, #f22)
  );
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
}

.colorful-background {
  --alf: 0.5;
  background:
    linear-gradient(
      to right,
      rgba(255, 0, 0, var(--alf)),
      rgba(255, 166, 0, var(--alf)),
      rgba(255, 255, 0, var(--alf))
    ),
    white;
}

.AT-BKG {
  background-color: var(--AT);
}

.IN-BKG {
  background-color: var(--IN);
}

.HD-BKG {
  background-color: var(--HD);
}

.EZ-BKG {
  background-color: var(--EZ);
}

.skew {
  font-size: calc(var(--fontSize) * 1px);
  transform: skew(calc(var(--clipSlope) * -50deg));
}

.weight-font {
  font-weight: 1000;
}

.rizline-title-font {
  font-family: "RIZ", "SourceHanSans", sans-serif;
  text-shadow: 0 0 20px #00baff;
  color: white;
}

.text-stroke-div {
  display: flex;
}

.text-stroke-div p:nth-child(1) {
  -webkit-text-stroke: var(--stroke-color) var(--stroke-width);
  color: var(--stroke-text-color);
}

.text-stroke-div p:nth-child(2) {
  position: absolute;
  color: var(--stroke-text-color);
}