@import "../../common/common.css";

body {
  width: 800px;
  background-color: #ffffff;
  position: relative;
}

.page {
  position: relative;
  --theme-color: var(--IN);
  --stroke-color: var(--theme-color);
  --stroke-width: 4px;
  --stroke-text-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.bg-particles {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.bg-particle {
  position: absolute;
  border-radius: 50%;
  background: var(--theme-color);
  transform: translate(-50%, -50%);
}

.title {
  position: absolute;
  width: 800px;
  height: 800px;
  background: radial-gradient(60% 60% at 50% 50%, var(--theme-color) 0%, transparent 60%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  left: -240px;
  top: -325px;
  rotate: -15deg;
  z-index: 1;
}

.title-text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  filter: drop-shadow(0px 0px 6px white);
}

.title-text p {
  font-size: 40px;
  font-weight: 1000;
}

.riz-ver {
  position: absolute;
  top: 50px;
  right: 100px;
  z-index: 2;
}

.riz-ver p {
  font-size: 40px;
  font-weight: 1000;
}

.main-box {
  position: relative;
  width: 90%;
  z-index: 2;
  margin-top: 150px;
  margin-bottom: 70px;
}

.dif-box {
  background-color: #ffffff80;
  position: relative;
  border: 3px var(--theme-color) solid;
  border-radius: 30px;
  width: 100%;
  padding: 17px 10px;
  display: flex;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  margin-top: 50px;
}

.dif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  border: 3px var(--theme-color) solid;
  position: absolute;
  top: 0;
  left: 125px;
  transform: translate(-50%, -50%);
  --stroke-width: 4px;
}

.dif p {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: -3px;
}

.song-box {
  margin-top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.EZ-song {
  --theme-color: var(--EZ);
}

.HD-song {
  --theme-color: var(--HD);
}

.IN-song {
  --theme-color: var(--IN);
}

.AT-song {
  --theme-color: var(--AT);
}

.song {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 3px var(--theme-color) solid;
  position: relative;
  margin-top: 15px;
  box-sizing: border-box;
  /* margin-right: 7px; */
}

.ill-box {
  background-color: white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.song img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: relative;
}

.level-point {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -3px;
  z-index: 1;
  border-radius: 10px;
  background-color: var(--theme-color);
}

.createdbox {
  position: absolute;
}

.riz-plugin {
  --font-size: 30px;
}

.ver {
  --font-size: 20px;
}
